h1 {
    color: blue;
    /* font-size: 4em; */
}

h2 {
    color: blue;
    /* font-size: 4em; */
}

body {
    background-color: whitesmoke;
}

#container {
    max-width: 900px;
    margin: auto;
}

#form {
    width: 60%;
    margin-left: 2%;
    /* background-color: black; */
}

#form form {
    width: 100%;
}