{% extends "base.html" %}

{% block content %}
<h1>Welcome to my movie recommender app</h1> 

    <div id="form">
        <p>Hello, write your favourite movies here and get suggestion of similar movies you can see:</p>
        <form action="{{url_for('recommender')  }}">
            
            {% for i in range(3) %}
            <input type="text" name="movie_input">
            <br>
            {% endfor %}
            <br>
            <label for="models">Which model should be used for recommendation:</label>            
            <select name="models" id="models">
                <option value="nmf">Model based on ratings of similar movies </option>
                <option value="neighbor">Model based on people who watch similar movies as you</option>
                <option value="popular">Model based on popular movies</option>
                <option value="random">Model that generates just random movies</option>

            </select>
        
            <!-- <button type="submit" value="nmf" name="model">Run with NMF</button>
            <button type="submit" value="volvo" name="model">Run with Volvo</button> -->
        
            <input type="submit">

            
        </form>



    </div> 

    
{% endblock %}

